body{
margin: 0;
background-color: #EBB;
font-family: 'Merriweather', serif;
text-align: center;
}

h1{
font-size: 60px;
text-align: center;
background: linear-gradient(271deg,#92B8FF 30%, #A586E3 50%,#AECEFF 94%,#edca85 94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-font-smoothing: antialiased;
margin-top:0;
font-family: 'Sacramento', cursive;
margin-bottom: 0;
}

.navigation{
  background-color:#E4F9F5;
  height: 100px;
  margin-bottom: 0;
  width:auto;
}


.top-container{
  background-color: #E4F9F5;
  height: 500px;
  width:auto;
}


.pro{
text-decoration: underline;
}
.lowcloud{
  position: absolute;
  right:460px;
}
.topcloud{
  position: absolute;

}
.mountains{
  position: relative;
  bottom: 42px;
  right:10px;
}
.Role{
  font-size: 25px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  color:#83D354;
}
.addin{
width: 250px; height: 250px; border-radius: 50%;
margin-top: 50px;
position: relative;
transform: rotate(5deg);
}
.profile{
  font-family: 'Sacramento', cursive;
}
